<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * GoMage Seo Booster Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2013 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use/
 * @version      Release: 1.0.0
 * @since        Available since Release 1.0.0
 */
-->
<config>
    <global>
        <blocks>
            <gomage_seobooster>
                <class>GoMage_SeoBooster_Block</class>
            </gomage_seobooster>
            <adminhtml>
                <rewrite>
                    <widget_form_element_dependence>GoMage_SeoBooster_Block_Adminhtml_Widget_Form_Element_Dependence</widget_form_element_dependence>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <product_view>GoMage_SeoBooster_Block_Catalog_Product_View</product_view>
                    <category_view>GoMage_SeoBooster_Block_Catalog_Category_View</category_view>
                    <layer_state>GoMage_SeoBooster_Block_Catalog_Layer_State</layer_state>
                    <product_list_toolbar>GoMage_Seobooster_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
            <page>
                <rewrite>
                    <html_pager>GoMage_SeoBooster_Block_Page_Html_Pager</html_pager>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <gomage_seobooster>
                <class>GoMage_SeoBooster_Helper</class>
            </gomage_seobooster>
        </helpers>
        <models>
            <gomage_seobooster>
                <class>GoMage_SeoBooster_Model</class>
            </gomage_seobooster>
            <catalog>
                <rewrite>
                    <product_url>GoMage_SeoBooster_Model_Catalog_Product_Url</product_url>
                    <product>GoMage_SeoBooster_Model_Catalog_Product</product>
                    <category>GoMage_SeoBooster_Model_Catalog_Category</category>
                    <layer_filter_item>GoMage_SeoBooster_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                    <template_filter>GoMage_SeoBooster_Model_Catalog_Template_Filter</template_filter>
                </rewrite>
            </catalog>
            <cms>
                <rewrite>
                    <template_filter>GoMage_SeoBooster_Model_Cms_Template_Filter</template_filter>
                </rewrite>
            </cms>
            <widget>
                <rewrite>
                    <template_filter>GoMage_SeoBooster_Model_Widget_Template_Filter</template_filter>
                </rewrite>
            </widget>
            <newsletter>
                <rewrite>
                    <template_filter>GoMage_SeoBooster_Model_Newsletter_Template_Filter</template_filter>
                </rewrite>
            </newsletter>
            <core>
                <rewrite>
                    <url_rewrite>GoMage_SeoBooster_Model_Url_Rewrite</url_rewrite>
                </rewrite>
            </core>
        </models>
        <resources>
            <gomage_seobooster_setup>
                <setup>
                    <module>GoMage_SeoBooster</module>
                    <connection>core_setup</connection>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </gomage_seobooster_setup>
        </resources>
    </global>
    <default>
        <gomage_seobooster>
            <general>
                <enabled>0</enabled>
                <enable_canonical_url>0</enable_canonical_url>
                <cross_domain_canonical_url>0</cross_domain_canonical_url>
                <product_canonical_url>1</product_canonical_url>
                <add_trailing_slash>0</add_trailing_slash>
            </general>
        </gomage_seobooster>
    </default>
    <modules>
        <GoMage_SeoBooster>
            <version>1.0.1</version>
        </GoMage_SeoBooster>
    </modules>
</config>

