<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * GoMage Seo Booster Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2013 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use/
 * @version      Release: 1.0.0
 * @since        Available since Release 1.0.0
 */
-->
<config>
    <global>
        <blocks>
            <gomage_seobooster>
                <class>GoMage_SeoBooster_Block</class>
            </gomage_seobooster>
            <adminhtml>
                <rewrite>
                    <widget_form_element_dependence>GoMage_SeoBooster_Block_Adminhtml_Widget_Form_Element_Dependence</widget_form_element_dependence>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <product_view>GoMage_SeoBooster_Block_Catalog_Product_View</product_view>
                    <category_view>GoMage_SeoBooster_Block_Catalog_Category_View</category_view>
                    <layer_state>GoMage_SeoBooster_Block_Catalog_Layer_State</layer_state>
                    <product_list_toolbar>GoMage_SeoBooster_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                    <layer_filter_category>GoMage_SeoBooster_Block_Catalog_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_price>GoMage_SeoBooster_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                    <layer_filter_decimal>GoMage_SeoBooster_Block_Catalog_Layer_Filter_Decimal</layer_filter_decimal>
                    <layer_filter_attribute>GoMage_SeoBooster_Block_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog>
            <page>
                <rewrite>
                    <html_pager>GoMage_SeoBooster_Block_Page_Html_Pager</html_pager>
                </rewrite>
            </page>
            <review>
                <rewrite>
                    <helper>GoMage_SeoBooster_Block_Review_Helper</helper>
                </rewrite>
            </review>
            <rss>
                <rewrite>
                    <list>GoMage_SeoBooster_Block_Rss_List</list>
                </rewrite>
            </rss>
            <cms>
                <rewrite>
                    <page>GoMage_SeoBooster_Block_Cms_Page</page>
                </rewrite>
            </cms>
        </blocks>
        <helpers>
            <gomage_seobooster>
                <class>GoMage_SeoBooster_Helper</class>
            </gomage_seobooster>
        </helpers>
        <models>
            <gomage_seobooster>
                <class>GoMage_SeoBooster_Model</class>
                <resourceModel>gomage_seobooster_resource</resourceModel>
            </gomage_seobooster>
            <gomage_seobooster_resource>
                <class>GoMage_SeoBooster_Model_Resource</class>
            </gomage_seobooster_resource>
            <catalog>
                <rewrite>
                    <product_url>GoMage_SeoBooster_Model_Catalog_Product_Url</product_url>
                    <product>GoMage_SeoBooster_Model_Catalog_Product</product>
                    <category>GoMage_SeoBooster_Model_Catalog_Category</category>
                    <layer_filter_item>GoMage_SeoBooster_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                    <template_filter>GoMage_SeoBooster_Model_Catalog_Template_Filter</template_filter>
                    <layer_filter_attribute>GoMage_SeoBooster_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <url>GoMage_SeoBooster_Model_Catalog_Url</url>
                </rewrite>
            </catalog>
            <cms>
                <rewrite>
                    <template_filter>GoMage_SeoBooster_Model_Cms_Template_Filter</template_filter>
                </rewrite>
            </cms>
            <widget>
                <rewrite>
                    <template_filter>GoMage_SeoBooster_Model_Widget_Template_Filter</template_filter>
                </rewrite>
            </widget>
            <newsletter>
                <rewrite>
                    <template_filter>GoMage_SeoBooster_Model_Newsletter_Template_Filter</template_filter>
                </rewrite>
            </newsletter>
            <core>
                <rewrite>
                    <url_rewrite>GoMage_SeoBooster_Model_Url_Rewrite</url_rewrite>
                </rewrite>
            </core>
            <tag_resource>
                <rewrite>
                    <indexer_summary>GoMage_SeoBooster_Model_Resource_Tag_Indexer_Summary</indexer_summary>
                </rewrite>
            </tag_resource>
            <tag>
                <rewrite>
                    <tag>GoMage_SeoBooster_Model_Tag_Tag</tag>
                </rewrite>
            </tag>
            <sitemap>
                <rewrite>
                    <sitemap>GoMage_Seobooster_Model_Sitemap_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <resources>
            <gomage_seobooster_setup>
                <setup>
                    <module>GoMage_SeoBooster</module>
                    <connection>core_setup</connection>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </gomage_seobooster_setup>
        </resources>
        <events>
            <tag_save_after>
                <observers>
                    <refresh_tag_url_rewrite>
                        <class>gomage_seobooster/observer</class>
                        <method>refreshTagUrlRewrite</method>
                    </refresh_tag_url_rewrite>
                </observers>
            </tag_save_after>
            <tag_delete_after>
                <observers>
                    <remove_tag_url_rewrite>
                        <class>gomage_seobooster/observer</class>
                        <method>removeTagUrlRewrite</method>
                    </remove_tag_url_rewrite>
                </observers>
            </tag_delete_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <gomage_seobooster module="GoMage_SeoBooster">
                    <file>gomage-seobooster.xml</file>
                </gomage_seobooster>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_cms_page_edit_tab_meta_prepare_form>
                <observers>
                    <add_cms_page_meta_fields>
                        <class>gomage_seobooster/observer</class>
                        <method>addCmsPageMetaFields</method>
                    </add_cms_page_meta_fields>
                </observers>
            </adminhtml_cms_page_edit_tab_meta_prepare_form>
        </events>
    </adminhtml>
    <default>
        <gomage_seobooster>
            <general>
                <enabled>0</enabled>
                <enable_canonical_url>0</enable_canonical_url>
                <cross_domain_canonical_url>0</cross_domain_canonical_url>
                <product_canonical_url>1</product_canonical_url>
                <add_trailing_slash>0</add_trailing_slash>
                <enable_link_rel>0</enable_link_rel>
                <enable_opengraph_metadata>0</enable_opengraph_metadata>
                <enable_rich_snippets>0</enable_rich_snippets>
            </general>
            <url_rewrite>
                <enable_layered_url_rewrite>0</enable_layered_url_rewrite>
                <layered_friendly_urls>0</layered_friendly_urls>
                <layered_separator>=</layered_separator>
                <enable_layered_rewrite_path>0</enable_layered_rewrite_path>
                <layered_rewrite_path>filter_path</layered_rewrite_path>
                <enable_product_review_url_rewrite>0</enable_product_review_url_rewrite>
                <product_review_rewrite_path>reviews</product_review_rewrite_path>
                <enable_tag_url_rewrite>0</enable_tag_url_rewrite>
                <tag_url_rewrite_path>tags</tag_url_rewrite_path>
                <enable_rss_url_rewrite>0</enable_rss_url_rewrite>
                <rss_url_rewrite_path>rss</rss_url_rewrite_path>
            </url_rewrite>
        </gomage_seobooster>
        <sitemap>
            <extended_settings>
                <include_product_images>0</include_product_images>
                <max_images_per_product>0</max_images_per_product>
                <include_product_tags>0</include_product_tags>
                <paroduct_tags_changefreq>daily</paroduct_tags_changefreq>
                <paroduct_tags_priority>0.5</paroduct_tags_priority>
            </extended_settings>
        </sitemap>
    </default>
    <modules>
        <GoMage_SeoBooster>
            <version>1.0.6</version>
        </GoMage_SeoBooster>
    </modules>
</config>

